header{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

header nav{
  padding-right: 40px;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span{
  color: MediumAquamarine;
  font-size: 14px;
  font-weight: bold;
  height: 17px;
  width: 73.9219px;
  display: flex;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
  display: block;
}

nav span{
  padding: 20px 10px;
  width: 59.7812px;
  height: 17px;
}

/*main container */
.content{
       display: flex;
       flex-wrap: wrap;
       width: 1232px;
       height: 567.812px;
       margin-bottom: 78px;
       margin-left: 0px;
       margin-right: -626px;
       margin-top: 0px;
       /*margin: 0 auto 78px auto;*/
       padding-top: 116px;
       background-color: lightgray; <!-- remove this later -->
}

.column.large{
       width: 630px;
       flex-direction: column;
       height: 565.812px;
       margin-right: 32px;
}

/*.column{
       display: flex;
       flex-direction: column;
       margin-right: 32px;
}*/

/*p{
       display: block;
       height: 116px;
       width: 600.90;
}*/

h2{
       display: block;
       font-size: 1.5em;
}

div.image-content{
       display: inline;
       height: 20px;
       width: 600.91px;
}

div{
       display: block;
       border: 1px solid black;
}

div.lead-story{
      display: block;
      height: 214px;
      width: 600.906px;
}

div.text-content{
       display: block;
       height: 119.812px;
       width: 596.906px;
}

/*Column medium*/
.column.medium{
      display: flex;
      flex-direction: column;
      height: 565.812px;
      width: 300px;
}
