header{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

header nav{
  padding-right: 40px;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span{
  color: MediumAquamarine;
  font-size: 14px;
  font-weight: bold;
  height: 17px;
  width: 73.9219px;
  display: flex;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
  display: block;
}

nav span{
  padding: 20px 10px;
  width: 59.7812px;
  height: 17px;
}

/*main container */
.content{
       display: flex;
       flex-wrap: wrap;
       width: 1232px;
       /*height: 567.812px;*/
       margin-bottom: 78px;
       margin-left: 0px;
       margin-right: -626px;
       margin-top: 0px;
       /*margin: 0 auto 78px auto;*/
       padding-top: 116px;
       /*background-color: lightgray; <!-- remove this later -->*/
}

.column.large{
       width: 630px;
       flex-direction: column;
       height: 565.812px;
       width: 602.906px;
       margin-right: 32px;
}

/*.column{
       display: flex;
       flex-direction: column;
       margin-right: 32px;
}*/

/*p{
       display: block;
       height: 116px;
       width: 600.90;
}*/

h2{
       display: block;
       font-size: 1.5em;
       font-weight: bold;
}

.image-content{
       height: 300px;
       margin-top: 15px;
       font-family: Georgia;
       font-weight: bold;
       font-size: 30px;
       color: white;
       text-align: center;
      /* display: inline;
       height: 20px;
       width: 600.91px;*/
}

.lead-story .image-content{
      background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
      width: 600px;
      margin-top: 0px;
      font-size: 40px;
      text-align: left;
      }

.narrative{
      margin-top: 16px;
      display: block;
      }
.stories .text-content{
      height: 250px;
      margin-right: 32px;
      }
.stories{
      display: flex;
      justify-content: space-between;
      margin-top: 17px;
      }

div{
       display: block;
       border: 1px solid black;
}

.lead-story{
      display: block;
      height: 500px;
      width: 600.906px;
}

.fall-cancelled.image-content{
     background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
     margin-right: 32px;
     }

.pop-culture.image-content{
     background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
     }
/*div.text-content{
       display: block;
       height: 119.812px;
       width: 596.906px;
}*/

/*Column medium*/
.column.medium{
      display: flex;
      flex-direction: column;
      height: 565.812px;
      width: 300px;
}

.cat-ceo.image-content{
     background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
     }

.story.cat-ceo image-content{
      display: block;
      height: 214px;
      width: 285.094px;
}
/*column small*/
.column.small{
      width: 240px;
      margin-left: 32px;
}

.news-bites .bite{
     display: block;
     padding: 11px 20px;
     border-bottom: 1px solid black;
     background-color: whitemoke;
     font-family: Verdana;
     font-size: 12px;
     color: dimgray;
     }

footer title{
    display: inline-block;
    padding-right: 25px;
    border-right: 2px solid white;
    font-family: Georgia;
    font-weight: bold;
    color: white;
    }

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 325px;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
    color: white;
    }

  .copyright{
    display: block;
    font-family: Verdana;
    font-size: 12px;
    color: black;
    }
